body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #cc41a5;
background: linear-gradient(90deg, rgba(204, 65, 165, 1) 8%, rgba(199, 68, 153, 1) 50%, rgba(250, 190, 244, 1) 100%);
}

.container {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 500px;
    border: none;
    border-radius: 20px;


}

.input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}

img {
    width: 300px;
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px ;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    color: grey;

}

.sent_btn {
    border-radius: 30px;
    background-color: chartreuse;
    width: 100px;
}
.input h1{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ;
}