body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 31);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 12px 40px;
}

.links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px 0;
}

.links {
    display: flex;
    gap: 30px;
}

#header_btn {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #3A68B8;
}

.menu_burger {
    display: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.logo2 {
    display: none;
}

.hero_desc {
    color: white;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero_desc h1 {
    font-size: 50px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    gap: 20px;
    padding: 12px 40px;
}

.hero_img img {
    min-width: 500px;
    width: 100%;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 12px 20px;
    max-width: 1300px;
    margin: 0 auto;

}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(11, 3, 66, 0.421);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    text-align: center;
}

.card img {
    width: 150px;
}

.testimonials_section {
    display: flex;
    padding: 30px 110px;
    justify-content: space-around;
    align-items: center;
}

.testimonals_desc {
    color: rgb(255, 255, 255);
}

.testimonals_img img {
    max-width: 100%;
}

.testimonals_desc h2 {
    font-size: 40px;
    max-width: 540px;
    margin-bottom: 60px;
}

.testimonals_desc p {
    max-width: 460px;
    color: rgb(179, 179, 179);
    font-size: 16px;
    margin-top: 20px;
}

.white_text {
    color: azure;
}

.final_info {
    color: gray;
    width: 990px;
}

.final_info a {
    text-decoration: none;
}

.final {
    display: flex;
    justify-content: space-around;
    background-color: rgba(2, 2, 61, 0.422);

}

.hero_buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.blue_btn a {
    background-color: #3A68B8;
    text-decoration: none;
    border-radius: 7px;
    padding: 12px 20px;
    text-decoration: none;
    color: aliceblue;
    text-align: center;

}




@media(max-width:1140px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero_buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

}

@media(max-width: 896px) {
    .logo2 {
        display: block;
    }

    .logo1 {
        display: none;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
    }

    .testimonials_section {
        display: flex;
        flex-direction: column;

    }

    .testimonals_img {
        font-size: 400px;
    }

    .final {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
    }

    .final_info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .blue_btn_1 {
        display: flex;
        justify-content: center;
    }


}

@media(max-width: 656px) {
    .logo2 {
        display: block;
    }

    .logo1 {
        display: none;
    }

    .links {
        display: none;
    }

    .menu_burger {
        display: block;
    }

    .hero_desc h1 {
        font-size: 35px;
    }

    .hero_desc p {
        font-size: 15px;
    }

    .hero_img img {
        min-width: 200px;

    }

    .cards {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
    }

    .testimonials_section {
        display: flex;
        flex-direction: column;

    }

    .testimonals_img {
        font-size: 400px;
    }

    .final {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
    }

    .final_info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #hero_btn, #hero_video_btn {
        font-size: 11px;
        padding: 12px 13px;
    } 


}