body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center; 
}

.container {
    display: flex;
    width: 400px;
    border-top: 5px solid orange;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.304);
    padding: 20px;
}

.container form {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.names {
    width: 400px;
    display: flex;
    justify-content: space-between;

}

input, select {
    padding: 10px 12px;
    outline: none;
    border: 1px solid grey;
}

button {
    padding: 12px 0;
    background-color: orange;
    cursor: pointer;
    border: none;
    color: white;
}